{% load static %}

<!-- ========================= FOOTER ========================= -->
<footer class="section-footer bg-secondary text-white">
	<div class="container">
		<section class="footer-top  padding-y-lg">
			<div class="row">
				<aside class="col-md-4 col-12">
					<article class="mr-md-4">
						<h5 class="title">Contactez-nous</h5>
						<p>Pour tous services contactez-nous.</p>
						<ul class="list-icon">
							<li> <i class="icon fa fa-map-marker"> </i>542 Boulevard Diallo Tely </li>
							<li> <a href="mailto:abdulkabirkeita825@gmail.com"><i class="icon fa fa-envelope"> </i> abdulkabirkeita825@gmail.com </a> </li>
							<li> <i class="icon fa fa-phone"> </i> (+212) 624-232-775 </li>
							<li> <i class="icon fa fa-clock"> </i>Lun-Sam 08:00am - 7:00pm</li>
						</ul>
					</article>
				</aside>
				<aside class="col-md col-6">
					<h5 class="title">Information</h5>
					<ul class="list-unstyled">
						<li> <a href="#">À propos de nous</a></li>
						<li> <a href="#">Carrière</a></li>
						<li> <a href="#">Termes</a></li>
						<li> <a href="#">Sitemap</a></li>
					</ul>
				</aside>
				<!-- <aside class="col-md col-6">
					<h5 class="title">Mon compte</h5>
					<ul class="list-unstyled">
						<li> <a href="#">Contact us</a></li>
						<li> <a href="#">Money refund</a></li>
						<li> <a href="#">Order status</a></li>
						<li> <a href="#">Shipping info</a></li>
						<li> <a href="#">Open dispute</a></li>
					</ul>
				</aside> -->
				<aside class="col-md-4 col-12">
					<h5 class="title">Newsletter</h5>
					<p>Ne manquez aucune nouvelle en souscrivant à la newsletter </p>
					
					<form class="form-inline mb-3">
						<input type="text" placeholder="Email" class="border-0 w-auto form-control" name="">
						<button class="btn ml-2 btn-warning"> Souscrire</button>
					</form>

					<p class="text-white-50 mb-2">Suivez-nous</p>
					<div>
						<a href="#" class="btn btn-icon btn-outline-light"><i class="fab fa-facebook-f"></i></a>
						<a href="#" class="btn btn-icon btn-outline-light"><i class="fab fa-twitter"></i></a>
						<a href="#" class="btn btn-icon btn-outline-light"><i class="fab fa-instagram"></i></a>
						<a href="#" class="btn btn-icon btn-outline-light"><i class="fab fa-youtube"></i></a>
					</div>

				</aside>
			</div> <!-- row.// -->
		</section>	<!-- footer-top.// -->

		<section class="footer-bottom text-center">

			<p class="text-muted">Tous les droits sont reservés copyright &copy; {% now 'Y' %}</p>
			<br>
	</section>
	</div><!-- //container -->
</footer>
<!-- ========================= FOOTER END // ========================= -->
