{% extends "base/base.html" %}
{% load static %}

{% block title %}
	Réinitialiser votre mot de passe
{% endblock title %}

{% block content %}
	
<section class="section-conten padding-y" style="min-height:84vh">

<!-- ============================ COMPONENT PASSWORD FORGET   ================================= -->
	<div class="card mx-auto" style="max-width: 380px; margin-top:100px;">
      <div class="card-body">
      <h4 class="card-title mb-4">Réinitialiser votre mot de passe</h4>
      <form method="POST" action="{% url 'accounts:forget_password' %}">
        {% csrf_token %}
      {% include "include/alerts.html" %}
        <div class="form-group">
            <div class="input-group">
	          <div class="input-group-prepend">
	              <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
	          </div>
		      	  <input type="email" name="email" class="form-control" placeholder="Adresse Email" >
		    </div>
        </div>  

          <div class="form-group">
          	<a href="{% url 'accounts:login' %}" class="float-right">Se connecter?</a> 
           
          </div> <!-- form-group form-check .// -->
          <div class="form-group">
              <button type="submit" class="btn btn-primary btn-block"> Reinitialiser </button>
          </div> <!-- form-group// -->    
      </form>
      </div> <!-- card-body.// -->
    </div> <!-- card .// -->

     <p class="text-center mt-4">Vous n'avez pas de compte? <a href="{% url 'accounts:register' %}">S'inscrire</a></p>
     <br><br>
<!-- ============================ COMPONENT PASSWORDFORGET  END.// ================================= -->

</section>




{% endblock content %}