{% load static %}


	<header class="section-header">
		<section class="header-main border-bottom">
			<div class="container">
				<div class="row align-items-center">
					<div class="col-xl-2 col-lg-3 col-md-12">
						<a href="{% url 'homepage' %}" class="brand-wrap">
							<img class="logo" src="{% static 'images/logo.png' %}">
						</a> <!-- brand-wrap.// -->
					</div>
					<div class="col-xl-6 col-lg-5 col-md-6">
						<form action="{% url 'store:search' %}" class="search-header" method="GET" required="required">
							<div class="input-group w-100">

								<input type="text" class="form-control" placeholder="Chercher un article" name="keyword" required="required">

								<div class="input-group-append">
									<button class="btn btn-primary" type="submit">
										<i class="fa fa-search"></i> Rechercher
									</button>
								</div>
							</div>
						</form> <!-- search-wrap .end// -->
					</div> <!-- col.// -->
					<div class="col-xl-4 col-lg-4 col-md-6">
						<div class="widgets-wrap float-md-right">


							
							{% if request.user.is_authenticated %}

							<div class="widget-header mr-3">
								<a href="{% url 'accounts:dashboard' %}" class="widget-view">
									<div class="icon-area">
										<i class="fa fa-user"></i>
										<span class="notify">3</span>
									</div>
									<small class="text">Dashboard </small>
								</a>
							</div>

							<div class="widget-header mr-3">
								<a href="{% url 'carts:cart' %}" class="widget-view">
									<div class="icon-area">
										<i class="fa fa-shopping-cart"></i>
									<span class="notify">{{ cart_count }}</span>
									</div>
									<small class="text"> Panier </small>
								</a>
							</div>

							{% else %}

							<div class="widget-header mr-3">
								<a 
								
								{% if 'accounts:register' in request.path %}
								  class = "widget-view active"
								{% else %}
								  class = "widget-view"
								{% endif %}	

								href="{% url 'accounts:register' %}" >
									<div class="icon-area">
										<i class="fa fa-user-plus"></i>
									</div>
									<small class="text" title="S'inscrire">S'inscrire</small>
								</a>
							</div>

							<div class="widget-header mr-3">
								<a href="{% url 'accounts:login' %}" class="widget-view">
									<div class="icon-area">
										<i class="fa fa-user-circle"></i>
										<!-- <i class="fas fa-sign-in-alt" ></i> -->
									</div>
									<small class="text" title="Se connecter">Se connecter</small>
								</a>
							</div>

							  
							{% endif %}

							<div class="widget-header mr-3">
								<a

								{% if 'store' in request.path %}
									class="widget-view active"
								{% else %}
									class="widget-view"
								{% endif %}

								 href="{% url 'store:product' %}" >
									<div class="icon-area">
										<i class="fa fa-store"></i>
									</div>
									<small class="text">Store</small>
								</a>
							</div>
							

						</div> <!-- widgets-wrap.// -->
					</div> <!-- col.// -->
				</div> <!-- row.// -->
			</div> <!-- container.// -->
		</section> <!-- header-main .// -->

<!-- 
		<nav class="navbar navbar-main navbar-expand-lg border-bottom">
			<div class="container">
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main_nav"
					aria-controls="main_nav" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse" id="main_nav">
					<ul class="navbar-nav">

						{% for categorie in categories %}
							
						<li class="nav-item">
							<a class="nav-link" href="{{ categorie.get_url }}">{{ categorie.category_name|safe|capfirst }}</a>
						</li>

						{% endfor %}


					</ul>


				</div>
			</div> 
		</nav> -->
	</header> 

